.form-item-micro-publisher-node-todos { float:left; width:200px;}
#todos-fieldset-wrapper {float:left; width:200px;}

.form-item-micro-publisher-node-events { float:left; width:200px;}
#events-fieldset-wrapper {float:left; width:200px;}

.form-item-micro-publisher-node-images { float:left; width:200px;}
#images-fieldset-wrapper {float:left; width:200px;}

.form-item-micro-publisher-node-videos { float:left; width:200px;}
#videos-fieldset-wrapper {float:left; width:200px;}

.form-item-micro-publisher-node-files { float:left; width:200px;}
#files-fieldset-wrapper {float:left; width:200px;}

.show { display: block;}
.hide { display: none;}

#micro-publisher-node { height: 200px; }
.tabs-bottom { position: relative; }
.tabs-bottom .ui-tabs-panel { height: 140px; overflow: auto; }
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; }
.tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
.ui-tabs-selected { margin-top: -3px !important; }

